<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit your Post</h1>

        <div class="col-6 offset-3">
            <div id="carouselExampleSlidesOnly" class="carousel slide mb-3" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% for(let img of post.images){ %>
                        <div class="carousel-item active">
                            <img src="<%= img.url %> " class="d-block w-100" alt="">
                        </div>
                        <% } %>
                </div>
            </div>

            <form action="/posts/<%= post._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label class="form-label" for="title"> Title</label>
                    <input class="form-control" type="text" id="title" name='post[title]' value='<%= post.title %>'
                        required>
                    <div class="valid-feedback">
                        Looks Good ｡◕‿◕｡
                    </div>
                    <div class="invalid-feedback">
                        Please choose a Title. ◔̯◔
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="info"> Info</label>

                    <div class="input-group">
                        <span class="input-group-text" id="info">&#128247;</span>
                        <input type="text" class="form-control" id="info" name='post[info]' value='<%= post.info %>'
                            required>
                        <div class="valid-feedback">
                            Looks Good ｡◕‿◕｡
                        </div>
                        <div class="invalid-feedback">
                            Please Enter some info about the picture. ◔̯◔
                        </div>
                    </div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="description"> Description</label>
                    <textarea class="form-control" type="text" id="description" name='post[description]' required>
                        <%= post.description %>
                    </textarea>
                    <div class="valid-feedback">
                        Looks Good ｡◕‿◕｡
                    </div>
                    <div class="invalid-feedback">
                        Please Enter a description ◔̯◔
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-info"> Update Post </button>
                </div>
            </form>

            <footer>
                <a href="/posts/<%= post._id %> ">Back to Post</a>
            </footer>
        </div>

    </div>

    <!-- 
    <h1>Edit your Post</h1>

    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <div>
            <label for="title"> Title</label>
            <input type="text" id="title" name='post[title]' value='<%= post.title %>'>
        </div>
        <div>
            <label for="description"> Description</label>
            <input type="text" id="description" name='post[description]' value=' <%=post.description %>'>
        </div>
        <button> Confirm Changes </button>
    </form>

    <footer>
        <a href="/posts/<%= post._id %> ">Return to Post</a>
    </footer> -->