<% layout('layouts/boilerplate') %>

    <h1>ALL POSTS</h1>

    <div>
        <a href="/posts/new"> Add a Post</a>
    </div>


    <% for(let post of posts){ %>

        <div class='card mb-3'>
            <div class="row">
                <div class='col-md-4'>
                    <img src="<%= post.images[0].url %> " alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= post.title %>
                        </h5>
                        <p class="card-text">
                            <%= post.description %>
                        </p>
                        <p class="card-text">
                            <!-- put ISO info here -->
                            <small class="text-muted">
                                <%= post.info %>
                            </small>
                        </p>
                        <a href="/posts/<%= post.id %>" class="btn btn-primary">
                            <!-- <%= post.title %> -->
                            Critique / Comment
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <% } %>